@font-face {
	font-family: simpsons;
	src: url(simpsonfont/simpsonfont_demo.otf);
}
body {
	font-family: simpsons;
	background: url(pics/springfield.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	z-index: 0;
}

.wrapper {
	margin: 10% auto;
	max-width: 75%;
	max-height: 75%;
	background-color: gray;
	z-index: 1;
	text-align: center;
	border: 3px solid white;
	border-radius: 10%;
}